{% extends 'base.html' %}
{% load user_filters %}
{% block title %} {{title}} {% endblock title %}
{% block content %}
<div class="board">
    <div class="cardform">
        <div class="form">
            <div class="title"> Новое объявление </div>
      {% if form.errors %}
      {% for field in form %}
      {% for error in field.errors %}            
      <div class="alert alert-danger">
              {{ error|escape }}
            </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error|escape }}
        </div>
        {% endfor %}
        {% endif %}
        <form method="post"
        {% if action_url %}
        action="{% url action_url %}"
        {% endif %}
        >
        {% csrf_token %}
        {% for field in form %}
          <div class="form-in"
          {% if field.field.required %} 
          aria-required="true"
          {% else %}
          aria-required="false"
          {% endif %}
          >
          <label for="{{ field.id_for_label }}">
              <div class="label-name">{{ field.label }}
                  {% if field.field.required %}
                  <span class="required text-danger">*</span>
                  {% endif %}
                </div>
            </label>
            <div>
                {{ field|addclass:'form-control' }}
                {% if field.help_text %}
                <small id="{{ field.id_for_label }}-help" class="text-muted">
                    {{ field.help_text|safe }}
                </small>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    
      <div class="button">
          <button type="submit" class="btn btn-primary btn-submit">
              Создать
          </button>
        </div>
        
        </form>
    </div>
</div>
{% endblock %}