{% extends 'base.html' %}
{% block content %}
  <div class="detailboard">
    <div class="cardbox">
      <div class="photogallery">
        {% for photo in item.gallery.photos.all %}
          {% if item.gallery.photos %}
            <img src="{{ photo.image.url }}" class="card-image" alt="photo">
          {% endif %}
        {% endfor %}
      </div>
      <div class="text">
        <div class="title">
          {{ item.title }}
        </div>
        <div class="description">
          {{ item.description}}
        </div>
        <div class="price">
          {{ item.price }} ₽
        </div>
        <div class="category">
          {{ item.category }}
        </div>
      </div>
      <div class="created">
        Время размещения: {{ item.created }}
      </div>
      <div class="author">
        {{ author.get_full_name }}
        <div class="phone">
          {{ author.phone }}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}