{% extends 'base.html' %}
{% block content %}
  <div class="detailboard">
    <div class="cardbox">
      <div class="photogallery">
        {% for photo in item.images.all %}
          <img src="{{ photo.images.url }}" class="card-image" alt="photo">
        {% endfor %}
      </div>
      <div class="text">
        <div class="title">
          {{ item.title }}
        </div>
        <div class="description">
          {{ item.description}}
        </div>
        <div class="price">
          {{ item.price }} ₽
        </div>
        <div class="category">
          {{ item.category }}
        </div>
      </div>
      <div class="created">
        Время размещения: {{ item.created }}
      </div>
      <div class="author">
        {{ author.get_full_name }}
        <div class="phone">
          {{ author.phone }}
        </div>
      </div>
      <div class="delete-container">
        <a href="{% url 'saleboard:item_delete' item.slug %}" role="button">
          <div class="delete-button">Закрыть объявление</div>
        </a>
      </div>
    </div>
  </div>
  {% endblock content %}