<header>
  <nav class='navbar'>
    <div class='navbar-brand'>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#">GARAGE SALE</a>
        </li>
        <li class="nav-item search">
          <a href="#">Search</a>
        </li>
        <li class="nav-item">
          <a href="#">Категории</a></li>
        <li class="nav-item">
          <a href="#">Регистрация</a>
        </li>
        <li class="nav-item">
          <a href="#"><button class="btn-primary">Войти</button></a>
        </li>
      </ul>
    </div>
    
  </nav>
</header>