body {
    font-family: Montserrat, sans-serif;
    background: var(--clr-gray100);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


/* Хедер, навигация */

 :root {
    --clr-primary: #6aeeb5;
    --clr-primary-hover: #06a36f;
    --clr-gray100: #f0f7f8;
    --clr-gray100: #262b2c;
    --clr-gray200: #cfd8dc;
    --clr-gray200: #808e92;
    /* border radius */
    --radius: 0.8rem;
}

.nav-list {
    background: white;
    background: rgb(31, 31, 31);
    box-shadow: 0px 0px 10px var(--clr-gray200);
    margin: 0;
    padding: 1rem 0;
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin: 0rem 1rem;
}

.nav-item a {
    text-decoration: none;
    color: white;
    transition: all 200ms ease-in;
}

.nav-item a:hover {
    color: var(--clr-primary-hover);
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
    font-weight: 600;
}


/* Кнопки */

.btn-primary {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    background: var(--clr-primary);
    border: none;
    outline: none;
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.btn-primary:hover {
    background: var(--clr-primary-hover)
}

.btn-submit {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.btn-link {
    background: rgb(44, 44, 44);
    margin-top: 1.5rem;
}

.btn-link:hover {
    background: rgb(83, 83, 83);
}

.gray {
    background: rgb(44, 44, 44);
}

.gray:hover {
    background: rgb(83, 83, 83);
}


/* Карточки для главной */

.board {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cardbox {
    padding: 2.5rem 0rem;
}

.card {
    background: rgb(27, 27, 27);
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: 'image' 'text' 'detail';
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    border-radius: var(--radius);
    margin: 15px;
    transition: 0.1s;
    color: white;
}

.card .image {
    grid-area: image;
    display: flex;
}

.card .image img {
    border-radius: 15px 15px 0 0;
    height: 100%;
    width: 100%;
}

.card .text .titlebox {
    grid-area: text;
    margin: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #abfed6;
    border-radius: var(--radius);
    color: black;
    align-items: center;
}

.titlebox .title {
    align-items: center;
}

.card .price {
    font-weight: 300;
    align-items: center;
    margin: 20px;
}

.card-detail {
    grid-area: detail;
}

.card:hover {
    transform: scale(1.0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    content: attr(data-title);
}

.card .border {
    border-left: 2px solid #9cdabc;
}


/* Стили для форм */

.cardform {
    background: rgb(27, 27, 27);
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 80% 50px;
    grid-template-areas: 'form' 'button';
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    border-radius: var(--radius);
    margin: 15px;
    transition: 0.5s;
    color: white;
    padding: 1rem;
    padding-bottom: 2rem;
    margin: 3%;
}

.cardform .form {
    grid-area: form;
    align-items: center;
}

.text-muted {
    color: rgb(102, 102, 102);
    font-size: 12px;
    text-align: left;
}

.label-name {
    text-align: left;
    padding-left: 35px;
}

.form .title {
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin: 0 0 20px;
}

.form-control {
    display: flex;
    width: 80%;
    height: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: var(--radius);
    align-items: center;
    margin: 5px 0 0 30px;
    font-size: 20px;
    padding-left: 10px;
}

.form-in {
    margin: 5px;
}

textarea {
    height: 260px;
}


/* Сообщения об ошибках */

.required {
    color: rgb(172, 0, 0);
}

.alert {
    color: rgb(172, 0, 0);
}


/* Детали о товаре */

.detailboard {
    display: grid;
    background: rgb(31, 31, 31);
    width: 80%;
    box-shadow: 0.1rem 0.1rem 1rem var(--clr-gray200);
    margin: 2rem;
    border-radius: var(--radius);
    align-items: center;
    justify-content: center;
    color: white;
}



div.photogallery img.card-image {
    border-radius: 15px 15px 0 0;
    height: 30rem;
    width: auto;
    display: flex;
}

.detailboard .title {
    font-size: 2rem;
}


/* CSS Фигуры */


/* CSS Карта добавления товара */

.circle {
    display: flex;
    width: 50%;
    height: 70%;
    background: rgb(173, 173, 173);
    border-radius: 50%;
    margin: 50% 25% 50% 25%;
}

.plus-content {
    margin: 18% 43%;
}

.plus {
    background: rgb(47, 47, 47);
    height: 100px;
    width: 1.3rem;
    position: relative;
    left: 0;
}

.plus:after {
    content: '';
    height: 1.3rem;
    width: 100px;
    background: rgb(47, 47, 47);
    position: absolute;
    left: -2.5rem;
    top: 2.5rem;
}