{% load thumbnail %}
<article>
  <div class="cardbox">
    <div class="card">
      <div class="image">
        {% for photo in item.gallery.photos.all %}
          {% if item.gallery.photos %}
            <img src="{{ photo.image.url }}" class="card-image" alt="photo">
          {% endif %}
        {% endfor %}
      </div>
      <div class="text">
        <div class="titlebox">
          <div class="title">
            <h3>{{ item.title }}</h3>
          </div>
          <div class="price border">
            {{ item.price }} ₽
          </div>
        </div>
        <div class="description">
          <p>{{ item.description }}</p>
        </div>
      </div>
      <div class="detail">
        <a href="{% url 'saleboard:item_detail' item.slug %}"><button class="btn-primary">
          Заглянуть
        </button></a>
      </div>
    </div>
  </div>
</article>