{% load thumbnail %}
<article>
  <div class="cardbox">
    <div class="card">
      <div class="image">
        {% thumbnail item.photos.image "200x200" crop="center" upscale=True as im %}
          <img src="{{ im.url }}" alt="">
        {% endthumbnail %}
      </div>
      <div class="text">
        <div class="titlebox">
          <div class="title">
            <h3>{{ item.title }}</h3>
          </div>
          <div class="price border">
            {{ item.price }}
          </div>
        </div>
        <div class="description">
          <p>{{ item.description }}</p>
        </div>
      </div>
      <div class="detail">
        <a href="#"><button class="btn-primary">
          Заглянуть
        </button></a>
      </div>
    </div>
  </div>
</article>